.listing-card {
  font-family: sans-serif;
  color: maroon;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.description {
  margin-top: 4px;
}

.card-container {
  width: 250px;
}
